/* =indicator
--------------------------------------------- */
.indicator-init {
  position: "relative";
  top: "0px";
  left: "0px";
  width: "0px";
  height: "0px";
  margin: "0px";
  padding: "0px";
}

.indicator-start {
  height: "12px";
  width: "auto";
}

.indicator-stop {
  height: "0px";
  width: "0px";
}

/* ------------------------------------------ */
