body {
  /* 2013-03-11 banz-ghb start set margin */
  /*margin: 10px;*/ /* top right bottom left */
  margin: 0px 0px 0px 0px; /* top right bottom left */
  /* 2013-03-11 banz-ghb end   set margin */
  width: 100%;
  /*width: 320px;*/
}

/* 2013-03-09 banz-ghb start add navigation-header.css */
#navigation {
  position: fixed;
  width: 100%;
  /*width: inherit;*/
  /*width: device-width;*/
  /*margin: 10px 10px 10px 10px;*/ /* top right bottom left */
  /*top:   0px;*/ /* have to syncronize margin of body defined in base and mobile */
  /*left: 10px;*//* have to syncronize margin of body defined in base and mobile */
  margin-right:auto;
  margin-left:auto;
  top:   0px; /* have to syncronize margin of body defined in base and mobile */
  left:  0px;/* have to syncronize margin of body defined in base and mobile */
  /*vertical-align: middle;*/
  height: 40px;
  /*padding-top:17px;*/
 /*padding-bottom:20px:*/
}

.navigation-div {
  border-left: 1px solid #ffffff;
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  width: 33%;
  height:100%;
  margin: auto;
  float: left;
  /*display: inline;*/
  text-align: center;
  vertical-align: middle;
  font-family: "CorbelRegular";
  font-size: 18px;
  color: #ffffff;
}

.navigation-first {
  border: none;
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  width: 33%;
  height:100%;
  margin: auto;
  float: left;
  /*display: inline;*/
  text-align: center;
  vertical-align: middle;
  font-family: "CorbelRegular";
  font-size: 18px;
  color: #ffffff;
}

.navigation-first > p {
    position:relative;
    top:50%;
    margin-top: -0.75em;
    line-height:1.5em;
}

.navigation-div > p {
    position:relative;
    top:50%;
    margin-top: -0.75em;
    line-height:1.5em;
}
/* 2013-03-09 banz-ghb start add navigation-header.css */

#guides ul li,
#samples .list {
  float: none;
  margin: 0 auto 10px;
  width: 172px;
}

/* 2012-03-06 banz-ghb start change layout */
#radioprogram-list {
  /*width: 300px;*/
}
#radioprogram-list li {
  /*margin: 10 8px 4px 0;*/ /* top right bottom left *//* 2012-03-05 banz-ghb set margin-top 0 to 10 */
  /*width: auto;*/
}

#radioprogram-list li div {
  margin: 10 8px 4px 0; /* 2012-03-05 banz-ghb set margin-top 0 to 10 */
  /*width: auto;*/
  /*data-width: 290*//*70%*/; /*TODO how to specify by css*/
}

/* 2012-03-06 banz-ghb end   change layout */

/* 2013-03-17 banz-ghb adjust layout of id-shared-activity */
#id-shared-activity-div {
  margin:  7px  /*auto*/;
}
