body {
  /* 2013-03-11 banz-ghb start set margin */
  /*margin: 10px;*/ /* top right bottom left */
  margin: 0px 10px 0px 10px; /* top right bottom left */
  /* 2013-03-11 banz-ghb end   set margin */
  /*width: (device-width - 20);*/width: auto;
}

/* 2013-03-09 banz-ghb start add navigation-header.css */
#navigation {
  position: fixed;
  /*width: inherit;*/
  /*width: device-width;*/
    margin: 10px 10px 10px 10px;*/ /* top right bottom left */
  top:   0px; /* have to syncronize margin of body defined in base and mobile */
  left: /*1*/0px;/* have to syncronize margin of body defined in base and mobile */
}
#navigation_top {
  /*Sbackground-color: red;*/
  /*width: auto;*/ /* var candidate */
  margin: 0 /*auto*/;
}
#navigation ul {
  /*margin: 0px 0px 0px 0px;*/ /* top right bottom left */
  /*width: auto;*/ /* var candidate */
}

#navigation li {
  padding: 0 3px;
  font-size:1.0em;
}
/* 2013-03-09 banz-ghb start add navigation-header.css */

#guides ul li,
#samples .list {
  float: none;
  margin: 0 auto 10px;
  width: 172px;
}

#share-app li {
  margin: 10 8px 4px 0; /* 2012-03-05 banz-ghb set margin-top 0 to 10 */
}

#share-app {
  width: auto;
}

/* 2012-03-06 banz-ghb start change layout */
#radioprogram-list li {
  margin: 10 8px 4px 0; /* 2012-03-05 banz-ghb set margin-top 0 to 10 */
}

#radioprogram-list {
  width: auto;
}
/* 2012-03-06 banz-ghb end   change layout */
