/*
  title: navigation-header css
*/


/* ------------------------------------------ */

/* =navigation
--------------------------------------------- */
/* 2013-03-09 banz-ghb start add navigation-header.css
/* p200 */
#navigation {
  /* 2013-03-17 banz-ghb start add gloval css var */
  /*background-color: blue;*/
  background: url("../images/get-started-bg.jpg");
  /*background: data(var-bg-image-location);*/
  /* 2013-03-17 banz-ghb end   add gloval css var */
  position: fixed;
  width: 720px; /* var candidate */
  top: 20px; /* have to syncronize margin of body defined in base and mobile */
  left: 20px;/* have to syncronize margin of body defined in base and mobile */
  z-index: 10;
}

#navigation_top {
  /*width: auto;*/ /* var candidate */
  margin: 0 /*auto*/;
}

#navigation ul {
  /*width: auto;*/ /* var candidate */
  float: left;
}

#navigation li {
  padding: 0 30px;
  font-size:1.4em;
  border-left: 1px solid red;
  display: inline
}
/*
.last {
  border-right: 1px solid red;
}
*/
/* 2013-03-09 banz-ghb end   add navigation-header.css */
