/*
  title: navigation-header css
*/


/* ------------------------------------------ */

/* =navigation
--------------------------------------------- */
/* 2013-03-09 banz-ghb start add navigation-header.css
/* p200 */
#navigation {
  /* 2013-03-17 banz-ghb start add gloval css var */
  /*background-color: blue;*/
  background: url("../images/get-started-bg.jpg");
  /*background: data(var-bg-image-location);*/
  /* 2013-03-17 banz-ghb end   add gloval css var */
  position: fixed;
  width: 720px; /* var candidate */
  top: 20px; /* have to syncronize margin of body defined in base and mobile */
  left: 20px;/* have to syncronize margin of body defined in base and mobile */
  z-index: 10;
  height: 40px;
}

.navigation-div {
  border-left: 1px solid #ffffff;
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  width: 33%;
  height:100%;
  margin: auto;
  float: left;
  /*display: inline;*/
  text-align: center;
  vertical-align: middle;
  font-family: "CorbelRegular";
  font-size: 18px;
  color: #ffffff;
}

.navigation-first {
  border: none;
  display: -moz-inline-box;
  display: inline-block;
  position: relative;
  width: 33%;
  height:100%;
  margin: auto;
  float: left;
  /*display: inline;*/
  text-align: center;
  vertical-align: middle;
  font-family: "CorbelRegular";
  font-size: 18px;
  color: #ffffff;
}

.navigation-first > p {
    position:relative;
    top:50%;
    margin-top: -0.75em;
    line-height:1.5em;
}

.navigation-div > p {
    position:relative;
    top:50%;
    margin-top: -0.75em;
    line-height:1.5em;
}

/* 2013-03-09 banz-ghb end   add navigation-header.css */
